extend layout
block content
	h1 This is a H1 tag
	.table.table-bordered
		.table-row
			.table-col Hola
			.table-col Chao
		.table-row
			.table-col De neuvo

	p
		| This is the first template of the pupil system.

block sidebar
	.widget-menu-user
		ul
			li
				a(href='#') Alumnos
			li
				a(href='#') Clases