.form-content
	form(action='/course/new', method='post')
		!= form
		.field.left
			a(href='/course/new', dialog-action='open').mini Advance parameters
		.buttons-bar
			button(type="button", dialog-action='close').btn.btn-red Close
			button(type='submit').btn Enviar