extends ../layout-out
block content
	.center-section
		h2 Register like a teacher
		p
			| Complete the fields and we will send you an email to confirm your data. You can feel secure that your data
			| is gonna be good with us. We're not gona share any data with anyone.
		br
		.form-content
			form(action='/user/new', method='post')
				!= form
				.buttons-bar
					button(type='submit').btn Enviar